<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue sur SDN Full Stack Développeur</title>
  <meta name="description" content="Stéphane Dei-Negri - Web Développeur passionné par la fusion entre créativité et technologie. Découvrez mes projets et compétences.">
  <link rel="canonical" href="https://pfsdn-ba58e6ba6e38.herokuapp.com">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.stephanedn.com">
  <meta property="og:title" content="Accueil | Bienvenue sur SDN Full Stack Développeur">
  <meta property="og:description" content="Stéphane Dei-Negri - Web Développeur passionné par la fusion entre créativité et technologie. Découvrez mes projets et compétences.">
  <meta property="og:image" content="/favicon.ico">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://www.stephanedn.com">
  <meta property="twitter:title" content="Accueil | SDN Full Stack Developer">
  <meta property="twitter:description" content="Stéphane Dei-Negri - Web Développeur passionné par la fusion entre créativité et technologie. Découvrez mes projets et compétences.">
  <!-- Assurez-vous que l'URL pointe vers une image valide -->
  <meta property="twitter:image" content="/favicon.ico">

  <!-- Stylesheet de Swiper (lien dupliqué supprimé) -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- Script JS pour Swiper (aucun changement ici, assurer l'unicité des ressources) -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>

<body class="offers-index">
<div class="boss-container">
  <div class="banner-container">
    <video class="banner" autoplay loop muted>
      <source src="https://res.cloudinary.com/daroyxenr/video/upload/q_auto:good/v1712500583/Purple_Bold_Gradient_Modern_Digital_Marketing_Banner_72_x_30_in_jngpev" type="video/mp4">
      Votre navigateur ne supporte pas la balise vidéo.
    </video>

    <div class="counter" id="counter">
      <i class="fas fa-hourglass-half"></i> <span id="countdown">Faites votre choix cookies</span>
    </div>
  </div>
  <br>
  <br>
  <div id="presentation" class="container text-center mx-auto">
    <div style="display: flex; justify-content: space-between; align-items: flex-start;">
      <!-- Conteneur Sticky pour la Section Présentation -->
      <div style="flex: 1; position: -webkit-sticky; position: sticky; top: 0; z-index: 10;">
        <!-- Section Présentation -->
        <div class="presentation-container">
          <div class="noir2" >
            <h1 class="welcome-title">Bienvenue à tous👋</h1>
          </div>
          <br>
          <div class="content-center">
            <div class="avatar-info-container">
              <div class="avatar-container">
                <div class="avatar-background"></div>
                <img src="https://res.cloudinary.com/daroyxenr/image/upload/c_scale,q_auto:best,w_307/v1712503267/DALL_E-2024-04-04-00.30.01-Illustration-of-a-male-avatar-sitting-at-a-desk-with-a-computer_-coding_mgtc3u.webp" class="avatar" alt="avatar">
                <div class="dialogue-bubble">N'hésitez pas à partager mes pages 😉 <a href="https://www.linkedin.com/in/stephane-dn" target="_blank" class="social-icon"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/SDN33" target="_blank" class="social-icon"><i class="fab fa-github"></i></a></div>
              </div>
              <div class="avatar-info" style="text-align: left; margin-left: 6rem;">
                <p class="avatar-text">Web Développeur diplômé et passionné par la fusion entre créativité et technologie.</p>
                <p class="avatar-text">Je m'engage dans l'innovation pour transformer notre interaction avec le monde.
                Ma carrière est marquée par des contributions à des projets reconnus sur plusieurs médias mainstream, soulignant mon implication dans des initiatives d'envergure.
                Je suis disponible pour des missions freelance et des opportunités de collaboration.</p>
                <br>
                <p class="avatar-text">À bientôt !</p>
                <p class="avatar-text">Stéphane Dei-negri</p>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <h4 class="purple">My Setup💻</h4>
        <br>
        <div class="icone-container">
          <div class="icone-scroll">
            <!-- Icônes dupliquées deux fois pour l'effet continu -->
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/heroku/heroku-original-wordmark.svg" alt="Heroku">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original-wordmark.svg" alt="Ruby">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original-wordmark.svg" alt="GitHub">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="JavaScript">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="Rails">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="HTML5">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="CSS3">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="Bootstrap">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="Sass">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/jquery/jquery-original-wordmark.svg" alt="jQuery">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="React">
            <img class="icone" src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Adobe_Illustrator_CC_icon.svg" alt="illustrator">
            <img class="icone" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Adobe_Photoshop_CC_icon.svg" alt="Photoshop">
            <img class="icone" src="https://s3-alpha.figma.com/hub/file/697598809/ce5e0bb3-16b9-4d88-9bca-7d237fe725a8-cover.png" alt="Figma">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/heroku/heroku-original-wordmark.svg" alt="Heroku">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original-wordmark.svg" alt="Ruby">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original-wordmark.svg" alt="GitHub">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="JavaScript">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="Rails">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="HTML5">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg" alt="CSS3">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg" alt="Bootstrap">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/sass/sass-original.svg" alt="Sass">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/jquery/jquery-original-wordmark.svg" alt="jQuery">
            <img class="icone" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="React">
            <img class="icone" src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Adobe_Illustrator_CC_icon.svg" alt="illustrator">
            <img class="icone" src="https://upload.wikimedia.org/wikipedia/commons/a/af/Adobe_Photoshop_CC_icon.svg" alt="Photoshop">
            <img class="icone" src="https://s3-alpha.figma.com/hub/file/697598809/ce5e0bb3-16b9-4d88-9bca-7d237fe725a8-cover.png" alt="Figma">
          </div>
          <br><br><br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
    <!-- Section Offers -->
  <div>
    <div class="noir text-center mx-auto" id="mes-formules">
      <h1 class="welcome-title text-center">Mes Formules🔧</h1>
      <h4 class="purple">Des offres personnalisées conçues pour répondre précisément à vos besoins</h4>
      <br><br>
      <div class="text-center pitch">
        <h4>Vous avez un projet en tête ? 💡🤔</h5>
        <br>
        <h5> le succès d'une marque sur le net tient à son identité visuelle unique, qui stimule l'intérêt, le partage et la fidélité.</h5>
        <h5>Le premier impact visuel est déterminant pour l'engagement de l'utilisateur.</h5>
        <h5>Je vous accompagne dans la création de votre identité visuelle, de la conception à la réalisation.</h5>
      </div>
      <br><br>
      <div class="row justify-content-center">
        <!-- Supposons que @offers est une liste d'offres que vous itérez -->
        <div class="row justify-content-center">
          <% @offers.each do |offer| %>
            <div class="col-md-4">
              <div class="card mb-4 mx-auto flex-card">
                <div class="card-body">
                  <h5 class="card-title purple">
                    <% if offer.title.downcase.include?("portfolio") %>
                      <i class="fa-solid fa-briefcase" style="color: black !important;"></i>
                    <% elsif offer.title.downcase.include?("web app") %>
                      <i class="fa-solid fa-mobile-screen-button" style="color: black !important;"></i>
                    <% else %>
                      <i class="fa-solid fa-pencil" style="color: black !important;"></i>
                    <% end %>
                    <%= offer.title %>
                  </h5>
                  <% if offer.price && offer.price.amount > 0 %>
                    <p class="card-text price"><strong><%= number_to_currency(offer.price.amount.floor, unit: '€') %></strong></p>
                  <% else %>
                    <p class="card-text"><strong>Sur devis uniquement</strong></p>
                  <% end %>
                  <p class="card-text-info card-description"><%= offer.description %></p>
                  <div class="card-image" style="display: none;">
                    <%= image_tag offer.image_url, alt: "Image de l'offre", class: "img-fluid", loading:"lazy" %>
                  </div>
                </div>
                <div class="card-footer text-center">
                  <% if offer.title == "Web App" %>
                    <%= link_to "Demande de devis", contact_path, class: "btn btn-primary custom-btn offer" %>
                  <% else %>
                    <%= link_to "Acheter", offer_path(offer), class: "btn btn-primary custom-btn offer" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <br>
      <div class="text-center pitch">
        <h5><i class="fa-solid fa-check purple"></i> Des créations uniques adaptées à votre vision</h5>
        <h5><i class="fa-solid fa-check purple"></i> Une expertise technique au service de votre performance digitale</h5>
        <h5><i class="fa-solid fa-check purple"></i> Des solutions innovantes pour vous démarquer de la concurrence</h5>
      </div>
      <br>
      <!-- PayPal Logo -->

      <img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/logo_paypal_paiements_securises_fr.jpg"
               alt="Logo PayPal - Paiements sécurisés"
               style="display:block; margin:auto;">
      <br><br>
    </div>
  <div id="mes-projets"><h1 class="welcome-title text-center">Mes Réalisations🖌️</h1></div>
    <h4 class="purple text-center">Quelques exemples de projets</h4>
    <div class="row justify-content-center text-center">
      <% @projects.each do |project| %>
        <div class="col-md-4 project-cards" onmouseover="showPopup(this)" onmouseout="hidePopup(this)">
          <div class="mb-4 mx-auto">
            <!-- Contenu textuel (caché lors du survol) -->
            <div class="project-content">
              <h5 class="pro-title purple"><%= project.title %></h5>
              <h6 class="card-title iconic">
                <% if project.category == "Site Portfolio" %>
                  <i class="fas fa-briefcase"></i> <%= project.category %>
                <% elsif project.category == "Web App" %>
                  <i class="fas fa-mobile-alt"></i> <%= project.category %>
                <% elsif project.category == "Logo Pro" %>
                  <i class="fa-solid fa-pencil"></i> <%= project.category %>
                <% else %>
                  <%= project.category %>
                <% end %>
              </h6>
              <p class="card-description"><%= truncate(project.description, length: 150) %></p>
            </div>
            <!-- Popup d'image (affiché lors du survol) -->
            <div class="project-image-popup" style="display: none;">
              <video class="project-video" width="360" height="auto" preload="none" autoplay loop muted>
                <source src="<%= project.image_url %>" type="video/mp4">
                Votre navigateur ne supporte pas la balise vidéo.
              </video>
            </div>
            <!-- Bouton "Voir plus" (toujours visible) -->
            <%= link_to 'Voir plus', project_path(project), class: "btn btn-primary custom-btn voir-plus", id: "popupbtn" %>
          </div>
        </div>
      <% end %>
    </div>
    <br><br>
    <br><br>
    <h4 class="purple text-center">Mais aussi des logos, flyers... </p>
    <br>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <!-- Utilisez des classes au lieu de styles inline pour les images -->
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/none/path/s13f4f4e39aaa19fb/image/ib6aaf3aa918c2d85/version/1592565960/image.jpg" alt="Slide 1" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://res.cloudinary.com/daroyxenr/image/upload/q_auto/v1712516129/image_pawn5w.webp" alt="Slide 2" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=jpg/path/s13f4f4e39aaa19fb/image/i7acae0982659e94b/version/1592565960/image.jpg" alt="Slide 3" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=png/path/s13f4f4e39aaa19fb/image/i06f99f084dc1475c/version/1592565960/image.png" alt="Slide 4" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://res.cloudinary.com/daroyxenr/image/upload/q_auto/v1712503269/flyer-bar_lvcyvv.webp" alt="Slide 5" style="justify-content: center; align-items: center; height: 60%; width: 68%;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=jpg/path/s13f4f4e39aaa19fb/image/i960a8776b565ca54/version/1592617548/image.jpg" alt="Slide 7" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=jpg/path/s13f4f4e39aaa19fb/image/ic816b43a45c085d7/version/1592617548/image.jpg" alt="Slide 8" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://res.cloudinary.com/daroyxenr/image/upload/v1712502927/cupcake_flyer_jgtujo.webp" alt="Slide 8" style="justify-content: center; align-items: center; height: 82%; width: 68%;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=png/path/s13f4f4e39aaa19fb/image/ib6bf39b2e29e113f/version/1592565960/image.png" alt="Slide 9" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=jpg/path/s13f4f4e39aaa19fb/image/i11a0134cee7b07cb/version/1592565960/image.jpg" alt="Slide 10" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <div class="swiper-slide"><img class="swiper-slide" src="https://image.jimcdn.com/app/cms/image/transf/dimension=1920x400:format=jpg/path/s13f4f4e39aaa19fb/image/ic047128a614719a9/version/1592565960/image.jpg" alt="Slide 11" style="justify-content: center; align-items: center;" loading="lazy"></div>
        <!-- Répétez pour les autres slides -->
      </div>
      <br><br>
      <h5 class="text-center" style="color: black !important;">@2024 - Stéphane Dei-Negri - Tous droits réservés</h5>
    </div>
    <br><br>
    <h4 class="text-center" style="padding-top: 5rem;">Vu sur ces medias🎯</h4>
    <br>
    <div class="icone-container">
      <div class="icone-scroll">
        <img class="icone" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Canal_News_logo.svg/1280px-Canal_News_logo.svg.png" alt="CNews logo">
        <img class="icone" src="https://upload.wikimedia.org/wikipedia/fr/e/e7/G%C3%A9n%C3%A9rations.jpg" alt="Génération FM logo">
        <img class="icone" src="https://www.ffbb.com/sites/default/files/styles/large/public/ffbb_hoz_couleurs.png?itok=ZWcEAM-j" alt="FFBB logo">
        <img class="icone" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Q4RHGejMQq8X6XXQ7pavwaQM_2EYgmnC6FclnFvU&s" alt="Le résistant logo">
        <img class="icone" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Canal_News_logo.svg/1280px-Canal_News_logo.svg.png" alt="CNews logo">
        <img class="icone" src="https://upload.wikimedia.org/wikipedia/fr/e/e7/G%C3%A9n%C3%A9rations.jpg" alt="Génération FM logo">
        <img class="icone" src="https://www.ffbb.com/sites/default/files/styles/large/public/ffbb_hoz_couleurs.png?itok=ZWcEAM-j" alt="FFBB logo">
        <img class="icone" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1Q4RHGejMQq8X6XXQ7pavwaQM_2EYgmnC6FclnFvU&s" alt="Le résistant logo">
      </div>
    </div>
  </div>
</div>

<br><br><br><br>




<script>
    $(document).ready(function() {
        // Remonter automatiquement en haut de la page au rafraîchissement
        window.scrollTo(0, 0);

        // Initialisation de Swiper
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            slidesPerView: 1,
            spaceBetween: 2,
            pagination: { el: '.swiper-pagination', clickable: true },
            navigation: { nextEl: '.swiper-button-next', prevEl: '.swiper-button-prev' },
            autoplay: { delay: 3000, disableOnInteraction: false },
            breakpoints: {
                320: { slidesPerView: 1, spaceBetween: 10 },
                640: { slidesPerView: 2, spaceBetween: 20 },
                1024: { slidesPerView: 3, spaceBetween: 30 }
            }
        });;

        // Égalisation de la hauteur des cartes
        $('.card').matchHeight();

        // Gestion du compte à rebours
        $('#acceptPopup').click(function() {
            startCountdown();
        });

        function startCountdown() {
            let count = 3;
            const countdownElement = $('#countdown');
            $('#counter').show();
            countdownElement.text(count);

            let interval = setInterval(() => {
                count--;
                countdownElement.text(count);
                if (count <= 0) {
                    clearInterval(interval);
                    $('#counter').hide();
                    const presentationElement = $('#presentation');
                    if (presentationElement.length) {
                        presentationElement[0].scrollIntoView({ behavior: 'smooth' });
                    }
                }
            }, 1000);
        }
    });
    </script>

    <script>
    // Gestion des cookies
    document.addEventListener("DOMContentLoaded", function() {
  var cookiesAccepted = localStorage.getItem('cookiesAccepted');
  var iconElement = document.querySelector('.counter i'); // Récupérer l'élément <i> dans .counter
  var countdownElement = document.getElementById('countdown');

  if (cookiesAccepted === 'true') {
    // Mettre à jour le texte et changer l'icône pour "check" si les cookies ont été acceptés
    countdownElement.textContent = "Let's go!";
    iconElement.className = "fa-solid fa-check"; // Modifier la classe de l'icône
  } else {
    // Vérifier si le popup est visible
    var popupVisible = document.getElementById("cookiePopup").style.display !== 'none';
    if (popupVisible) {
      countdownElement.textContent = "Faites votre choix cookies";
      iconElement.className = "fas fa-hourglass-half"; // Gardez l'icône de l'heure
    } else {
      countdownElement.textContent = " Let's go! ";
      iconElement.className = "fa-solid fa-check"; // Modifier la classe de l'icône si le popup n'est pas visible
    }
  }
});

// Fonction pour mettre à jour l'icône et le texte
function updateCountdown() {
  document.getElementById('countdown').textContent = " Let's go!";
  document.querySelector('.counter i').className = "fa-solid fa-check"; // Mettre à jour l'icône
}

function acceptCookies() {
  localStorage.setItem('cookiesAccepted', 'true');
  hideCookiePopup();
  updateCountdown(); // Mettre à jour l'icône et le message après acceptation
}

function rejectCookies() {
  // Logique de refus des cookies ici
  updateCountdown(); // Mettre à jour l'icône et le message après refus
}

</script>

<script>
// Afficher ou masquer le popup de l'image du projet
function showPopup(element) {
  // Cibler le popup et le contenu à cacher
  const popup = element.querySelector('.project-image-popup');
  const content = element.querySelector('.project-content');

  // Afficher le popup
  if (popup) {
    popup.style.display = 'block';
  }

  // Masquer le contenu textuel
  if (content) {
    content.style.display = 'none';
  }
}

function hidePopup(element) {
  // Cibler le popup et le contenu à réafficher
  const popup = element.querySelector('.project-image-popup');
  const content = element.querySelector('.project-content');

  // Masquer le popup
  if (popup) {
    popup.style.display = 'none';
  }

  // Réafficher le contenu textuel
  if (content) {
    content.style.display = 'block';
  }
}
</script>

<script>
// Gestion de la lecture automatique de la vidéo
document.addEventListener('DOMContentLoaded', function() {
  var observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.play();
      } else {
        entry.target.pause();
      }
    });
  });

  var video = document.querySelector('.banner');
  observer.observe(video);
});
</script>

<script>
// Observer pour les éléments visibles
document.addEventListener("DOMContentLoaded", function() {
    const target = document.getElementById('mes-formules');
    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('visible');
            } else {
                entry.target.classList.remove('visible'); // Pour retirer la classe si nécessaire
            }
        });
    }, {
        threshold: 0.25 // L'élément doit être à 50% visible pour déclencher l'animation
    });

    if (target) {
        observer.observe(target);
    }
});
</script>

</body>
</html>
