<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= @offer.description %>">
  <meta property="og:title" content="SDN | <%= @offer.title %>">
  <meta property="og:description" content="<%= @offer.description %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= @offer.image_url %>">
  <title>SDN | <%= @offer.title %></title>
  <script src="https://www.paypal.com/sdk/js?client-id=BAA8R3BOfDl2leQhYFnkI0LH2NQyWhTgk7qV1X2CcqnBibC6akO8NIzwv_nLKVC2gSXZiFx263OsZx3hbs&components=hosted-buttons&disable-funding=venmo&currency=EUR"></script>

</head>

<body>
<br><br>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-4">
      <div class="row"> <!-- Nouvelle ligne pour la disposition côte à côte -->
        <!-- Colonne pour la card -->
        <div class="col-md-9">
          <% if @offer.image_url.present? %>
            <video class="img-fluid" autoplay loop muted>
              <source src="<%= @offer.image_url %>" type="video/mp4">
              Votre navigateur ne supporte pas la balise vidéo.
            </video>
          <% end %>
          <br>
          <h2 class="offer-title text-center"><%= @offer.title %></h2>
          <div class="offer-price mt-2 text-center">
            <h5><%= number_to_currency(@offer.price, unit: "€") %></h5>
          </div>
          <p class="offer-description text-center"><%= @offer.description %></p>
          <% if @offer.title == "Web App" %> <!-- Condition pour afficher le bouton Contacter -->
            <div class="text-center mt-3 mb-3">
              <a class="btn btn-primary" href="<%= contact_path %>">Contacter</a>
            </div>
          <% end %>
          <p class="card-text-info card-description text-center">
                  <% if @offer.duration == 0 %>
                    <i class="fa-solid fa-clock"></i> <strong> à définir</strong>
                  <% else %>
                    <i class="fa-solid fa-clock"></i> <strong> environ <%= @offer.duration %> jours</strong>
                  <% end %> <br>
        </div>
        <!-- Colonne pour le bouton PayPal -->
        <div class="col-md-3 d-flex align-items-center" id="paypal">
          <div id="paypal-container-WYVAED5YAJ94Q" class="w-100"></div> <!-- Assurez-vous que le conteneur PayPal est adapté à la largeur -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content text-center">
    <span class="close" onclick="fermerModal()">&times;</span>
    <h5 class="textmodal text-center purple"><strong>N'oubliez pas ! 😉</strong></h2>
    <p class="textmodal"><strong>Après votre achat, veuillez m'envoyer un message via le formulaire de contact pour me donner une description de votre idée ou projet.</strong></p>
  </div>
</div>

</body>


<script>
  paypal.HostedButtons({
    hostedButtonId: "WYVAED5YAJ94Q",
  }).render("#paypal-container-WYVAED5YAJ94Q")
</script>

<script>
// Fonction pour afficher le modal
function afficherModal() {
  var modal = document.getElementById("modal");
  modal.style.display = "block";
}

// Fonction pour fermer le modal
function fermerModal() {
  var modal = document.getElementById("modal");
  modal.style.display = "none";
}

// Appeler la fonction afficherModal() lorsque la page est chargée
window.onload = function() {
  afficherModal();
};
</script>
</html>
