<head>
  <meta charset="UTF-8">
  <meta name="description" content="<%= @offer.description %>">
  <meta property="og:title" content="SDN | <%= @offer.title %>">
  <meta property="og:description" content="<%= @offer.description %>">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= @offer.image_url %>">
  <title>SDN | <%= @offer.title %></title>

</head>

<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 mb-4">
      <div class="offer-show"> <!-- Utilisation de Flexbox pour la disposition -->
        <!-- Colonne pour l'image/vidéo -->
        <div class="offer-media mx-auto d-block" style="margin-top: 3rem;">
          <% if @offer.image_url.present? %>
            <video class="img-fluid mx-auto d-block" style="padding: 1rem;" autoplay loop muted>
              <source src="<%= @offer.image_url %>" type="video/mp4">
              Votre navigateur ne supporte pas la balise vidéo.
            </video>
          <% end %>
          <h2 class="offer-title text-center"><%= @offer.title %></h2>
          <div class="offer-price mt-2">
            <h5 class="text-center" style="padding: 1rem;">
              <%= number_to_currency(@offer.price, unit: "€") %>
            </h5>

          </div>
          <p class="offer-description text-center"><%= @offer.description %></p>
          <a class="btn btn-primary custom-btn d-block mx-auto" style="margin-top: 3rem;" href="<%= contact_path %>">Contacter</a>
        </div>
      </div>
    </div>
  </div>

</div>
</body>





</html>
